# Virtual environments
asl_env/
.asl_env/
venv/
env/

# Model binaries & data
*.p
*.pkl
*.pickle
*.h5
*.pickle
dataset/
ASL Alphabet/
archive/

# Nested duplicate repository folder
SignLanguageProject/